.hksidebar {
  width: 250px;
  height: 100vh;
  background-color: #0a1630;
  color: #fffafa;
  padding: 20px;
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
}

.hktimeDisplay {
  margin-bottom: 20px;
  text-align: center;
}

.hkcurrentTime {
  font-size: 1.5rem;
  font-weight: bold;
}

.hkcurrentDate {
  font-size: 1rem;
}

.hknavMenu {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.hknavLink {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px;
  border-radius: 5px;
  text-decoration: none;
  color: #fffafa;
  transition: background-color 0.3s ease;
}

.hknavLink:hover {
  background-color: #152447;
}

.hkactive {
  background-color: #152447;
  font-weight: bold;
}


