@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");

@layer theme, base, components, utilities;
@import "tailwindcss/theme.css" layer(theme) prefix(tw);
@import "tailwindcss/utilities.css" layer(utilities) prefix(tw);

@theme {
  --font-roboto: "Roboto", sans-serif;
}

:root {
  --silver: #c4c4c4;
  --oxford-blue: #0a1630;
  --space-cadet: #152447;
  --lavender: #d2dcf5;
  --snow: #fffafa;
  --active: #d2dcf51a;

  --text-primary: var(--snow);
  --text-secondary: var(--silver);
}