/* Global Styles */

/* Reset some default styling */
* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body,
html {
  overflow: hidden;
  /* Prevents scrolling */
  margin: 0;
  padding: 0;
  height: 100vh;
}

/* Layout styles */
.layout {
  display: flex;
  /* Creates a horizontal layout */
  min-height: 100vh;
  /* Ensures full-page height */
}

.main-content {
  flex-grow: 1;
  /* Makes the main content take the remaining space */
  overflow-y: auto;
  /* Enables scrolling for overflowing content */
  background-color: #FFFAFA;
  /* Light gray background for the main content */
  padding: 20px;
  /* Optional padding for better spacing */
}